html,
body {
  background-color: rgb(51, 46, 46);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.calcContainer {
  background-color: rgb(109, 78, 78);
  width: 400px;
  height: 436px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0;
}

.clearDeleteContainer {
  padding: 10px 0 10px;
  align-self: center;
  display: flex;
  gap: 20px;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
}
.numbersContainer {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.operationsContainer {
  width: 60px;
  display: flex;
  flex-direction: column;
}
.display {
  background-color: blanchedalmond;
  height: 100px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding-right: 10px;
}

button {
  font-family: inherit;
  font-size: 40px;
}
